<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
  <div id="gradient">
    <h1>Protótipo do chatbot Sarah</h1>
    <h3>Implementação web da <a href="https://github.com/brunodpoliveira/galathea_mvp">Sarah</a> (Chatbot-Chatterbot | Gui-Flask).</h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Oi! Eu sou a Sarah. Escreva uma mensagem para mim. Eu demoro uns 15 segundos
        para responder cada mensagem. Espere eu te responder antes de mandar outra, por favor.</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Escreva sua mensagem aqui">
        <input id="buttonInput" type="submit" value="Enviar">
          <button onclick="window.location.href='google.com';">
              Terminar Conversa
          </button>
      </div>
      <script>
        function getBotResponse()
        {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data)
          {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e)
        {
            if ((e.which == 13) && document.getElementById("textInput").value != "" )
            {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function()
        {
            if (document.getElementById("textInput").value != "")
            {
                getBotResponse();
            }
        })
      </script>
    </div>
</div>
</body>
</html>
